# Fichiers et dossiers à ignorer

# Dépendances
node_modules/
package-lock.json
yarn.lock

# Fichiers de l'environnement
.env
.env.local
.env.*.local

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Fichiers de build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers temporaires
tmp/
temp/
*.tmp

# Fichiers de système d'exploitation
Thumbs.db
.DS_Store

# Cache
.cache/
*.cache